@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Binggrae-Bold";
  src: url("../font/Binggrae-Bold.ttf");
}
@font-face {
  font-family: "Binggrae";
  src: url("../font/Binggrae.ttf");
}
/* ============ Reset CSS ============ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: #666;
  font-size: 14px;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: normal;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

html, body {
  font-family: "Noto Sans KR", sans-serif;
}

.blind {
  display: block;
  width: 1px;
  height: 1px;
  color: transparent;
  font-size: 1px;
  text-indent: -9999px;
  overflow: hidden;
}

.btn-primary {
  background-color: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 27px;
  padding: 5px;
  font-weight: 500;
  letter-spacing: -0.08px;
  border: 1px solid #ccc;
}

.logo__link {
  background: url(../../media/logo_pc.png) no-repeat center;
  display: block;
  width: 128px;
  height: 32px;
  padding: 10px;
}

/* ============ header ============ */
body {
  background-color: lavender;
  width: 100%;
  height: 100vh;
}

.util {
  margin-right: auto;
}
.util__item {
  position: relative;
  display: inline-block;
  color: #444;
  font-weight: 500;
  letter-spacing: -0.7px;
  margin-right: 28px;
}
.util__item:last-child {
  margin-right: 0;
}
.util__item:last-child::after {
  background-color: transparent;
}
.util__item::after {
  content: "";
  background-color: #ccc;
  position: absolute;
  top: 51%;
  right: -16px;
  width: 1px;
  height: 10px;
  transform: translateY(-50%);
}

.sns-list {
  display: flex;
}
.sns-list__link {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 15px;
}
.sns-list__link:last-child {
  margin-right: 0;
}
.sns-list__link.instagram {
  background: url(../../media/header/footer_instar.png) no-repeat center;
  background-size: 100%;
}
.sns-list__link.youtube {
  background: url(../../media/header/footer_youtube.png) no-repeat center;
  background-size: 100%;
}
.sns-list__link.kica {
  background: url(../../media/header/ico_link_kica.png) no-repeat center;
  background-size: 100%;
}

.gnb {
  position: relative;
}
.gnb__bg {
  background-color: #fff;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
  transition: 0.5s;
}
.gnb__bg::before {
  content: "";
  background-color: #f0f0f0;
  display: block;
  max-width: 1170px;
  height: 1px;
  margin: 0 auto;
}
.gnb__bg.on {
  height: 330px;
}
.gnb__inner {
  position: relative;
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.gnb__main {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.gnb__main-item {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}
.gnb__main-item::before {
  content: "";
  background-color: transparent;
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 50px;
  height: 3px;
  transform: translateX(-50%);
}
.gnb__main-item:hover::before {
  background-color: #ed1c24;
}
.gnb__main-item:hover .gnb__main-link {
  color: #ed1c24;
}
.gnb__main-link {
  width: 100%;
  min-height: 60px;
  font-family: "Binggrae-Bold";
  color: #222;
  font-size: 18px;
  text-align: center;
  line-height: 60px;
}
.gnb__sub {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  width: 100%;
  padding: 22px 0 30px;
  text-align: center;
  z-index: 10;
}
.gnb__sub-item {
  height: 36px;
  line-height: 36px;
}
.gnb__sub-link {
  font-size: 16px;
  font-weight: 300;
}
.gnb__sub-link:hover {
  color: #ed1c24;
  font-weight: 700;
}
.gnb__sub-area {
  position: absolute;
  top: 63px;
  right: 0;
  width: 900px;
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.gnb__sub-area.on {
  height: 300px;
}
.gnb__side-banner {
  position: absolute;
  top: 25px;
  right: 15px;
  width: 205px;
  height: 260px;
}
.gnb__link-banner {
  display: block;
}

.gnb-mo {
  display: none;
}

.header {
  background-color: #fff;
  position: relative;
  width: 100%;
  z-index: 10;
}
.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1170px;
  height: 77px;
  margin: 0 auto;
  padding: 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__sns-list {
  margin-right: 18px;
}

/* ============ footer ============ */
.footer {
  background-color: #f6f6f6;
}
.footer__inner {
  width: 100%;
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
}
.footer__content {
  padding: 35px 0 25px;
  border-bottom: 1px solid #e3e3e3;
}
.footer__text {
  margin-top: 9px;
  color: #666;
  letter-spacing: -0.1px;
}
.footer__link {
  background: #fff url(../../media/bg_arrow_small01.gif) no-repeat 91% center;
  padding: 0 22px 0 10px;
  margin-left: 5px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  padding: 25px 0 40px;
}
.footer__logo {
  margin-right: 40px;
}
.footer__logo .logo__link {
  background-image: url(../../media/footer_logo.png);
}
.footer__copyright {
  color: #666;
  font-weight: 500;
  letter-spacing: -0.2px;
}
.footer__sns-list {
  margin-left: auto;
}

/* ============ 반응형 ============ */
@media screen and (max-width: 1100px) {
  /* ========== header ========== */
  .gnb__main-link {
    font-size: 16px;
  }
  .gnb__sub-link {
    font-size: 15px;
  }
  .gnb__side-banner {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* ========== header ========== */
  .logo__link {
    background-image: url(../../media/logo_m.png);
    background-size: 100%;
    width: 71px;
    height: 17px;
  }

  .select-box {
    display: none;
  }

  .btn-menu {
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 15px;
    margin-left: auto;
    z-index: 1;
  }
  .btn-menu__line {
    background-color: #444;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    transition: 0.3s;
  }
  .btn-menu__line:nth-of-type(1) {
    top: 0;
  }
  .btn-menu__line:nth-of-type(2) {
    top: 49%;
  }
  .btn-menu__line:nth-of-type(3) {
    top: 100%;
  }
  .btn-menu.on .btn-menu__line {
    background-color: #fff;
  }
  .btn-menu.on .btn-menu__line:nth-of-type(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  .btn-menu.on .btn-menu__line:nth-of-type(2) {
    opacity: 0;
  }
  .btn-menu.on .btn-menu__line:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  .gnb__bg {
    display: none;
  }
  .gnb__inner {
    display: none;
  }

  .gnb-mo {
    display: none;
  }
  .gnb-mo__inner {
    background-color: #f2f2f2;
    border-bottom: 1px solid #f0f0f0;
  }
  .gnb-mo__content {
    background-color: #fff;
    border-bottom: 2px solid #e3e3e3;
  }
  .gnb-mo__main-item {
    position: relative;
  }
  .gnb-mo__main-item.on .gnb-mo__main-link {
    color: #ed1c24;
  }
  .gnb-mo__main-item.on .blind::after {
    transform: rotate(-180deg);
  }
  .gnb-mo__main-link {
    display: block;
    width: 100%;
    height: 54px;
    padding: 0 30px;
    font-family: "Binggrae";
    color: #222;
    font-size: 16px;
    line-height: 54px;
    border-bottom: 1px solid #e3e3e3;
  }
  .gnb-mo__main .blind::after {
    content: "";
    background: url(../../media/header/gnb_1dep_off.png) no-repeat center/100%;
    position: absolute;
    top: 24px;
    right: 25px;
    width: 11px;
    height: 6.5px;
    transition: 0.3s;
  }
  .gnb-mo__sub {
    display: none;
  }
  .gnb-mo__sub-link {
    display: block;
    height: 42px;
    padding-left: 50px;
    color: #666;
    line-height: 42px;
    letter-spacing: -0.3px;
  }
  .gnb-mo__util {
    background-color: #fff;
    margin: 20px 0;
    border-bottom: 2px solid #e3e3e3;
  }
  .gnb-mo__util-list {
    display: flex;
    flex-wrap: wrap;
    line-height: 50px;
    border-top: 1px solid #e3e3e3;
  }
  .gnb-mo__util-item {
    width: 50%;
    border-right: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
  }
  .gnb-mo__util-item:last-child {
    width: 100%;
    text-align: center;
  }
  .gnb-mo__util-item:last-child .gnb-mo__util-link {
    padding: 0;
  }
  .gnb-mo__util-link {
    position: relative;
    display: block;
    padding-left: 38px;
    letter-spacing: -0.3px;
  }
  .gnb-mo__util-link::before {
    content: "";
    background: url() no-repeat center/100%;
    position: absolute;
    top: 50%;
    left: 17px;
    transform: translateY(-50%);
  }
  .gnb-mo__util-link.customer::before {
    background-image: url(../../media/header/ico_link_customer.png);
    width: 9px;
    height: 16px;
  }
  .gnb-mo__util-link.road::before {
    background-image: url(../../media/header/ico_link_road.png);
    width: 12px;
    height: 16px;
  }
  .gnb-mo__util-link.talent::before {
    background-image: url(../../media/header/ico_link_talent.png);
    width: 12px;
    height: 16px;
  }
  .gnb-mo__util-link.shop::before {
    background-image: url(../../media/header/ico_link_buy.png);
    left: 15px;
    width: 16px;
    height: 14px;
  }
  .gnb-mo__footer {
    background-color: #fff;
    border-top: 1px solid #e3e3e3;
  }
  .gnb-mo__footer-menu-item {
    position: relative;
    border-bottom: 1px solid #e3e3e3;
  }
  .gnb-mo__footer-menu-item.on .gnb-mo__footer-menu-link {
    color: #ed1c24;
  }
  .gnb-mo__footer-menu-item.on .blind::after {
    background-image: url(../../media/header/gnb_2dep_minus.png);
  }
  .gnb-mo__footer-menu-link {
    display: block;
    height: 50px;
    padding-left: 21px;
    line-height: 50px;
    letter-spacing: -0.3px;
  }
  .gnb-mo__footer-menu-link .blind::after {
    content: "";
    background: url(../../media/header/gnb_2dep_plus.png) no-repeat center/100%;
    position: absolute;
    top: 20px;
    right: 22px;
    width: 9px;
    height: 9px;
  }
  .gnb-mo__footer-sub {
    display: flex;
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
  }
  .gnb-mo__footer-sub.on {
    max-height: 150px;
  }
  .gnb-mo__footer-sub-item {
    width: 50%;
    height: 50px;
    border-top: 1px solid #e3e3e3;
  }
  .gnb-mo__footer-sub-item:nth-of-type(odd) {
    border-right: 1px solid #e3e3e3;
  }
  .gnb-mo__footer-sub-link {
    display: block;
    padding-left: 21px;
    color: #222;
    font-size: 13px;
    line-height: 50px;
    letter-spacing: -0.3px;
  }
  .gnb-mo__sns-list {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 66px;
    padding: 0 35px;
  }

  .sns-list__link {
    width: 26px;
    height: 26px;
  }

  .header__inner {
    height: 44px;
    transition: 0.3s;
  }
  .header__inner.on {
    background-color: #ed1c24;
  }
  .header__inner.on .logo__link {
    background-image: url(../../media/logo_m_w.png);
  }
  .header__util {
    display: none;
  }
  .header__logo {
    position: static;
    transform: none;
  }
  .header__sns-list {
    display: none;
  }

  /* ========== footer ========== */
  .footer__inner {
    position: relative;
    padding: 25px 10px 30px;
  }
  .footer__content {
    margin-top: 35px;
    padding: 13px 0 0;
    text-align: center;
    border: none;
    border-top: 1px solid #e3e3e3;
  }
  .footer__company-info {
    font-size: 13px;
  }
  .footer__text:not(:nth-of-type(1)) {
    margin: 5px;
  }
  .footer__logo {
    position: absolute;
    top: 16px;
    left: 20px;
  }
  .footer__logo .logo__link {
    width: 101.5px;
    height: 26.5px;
  }
  .footer__bottom {
    justify-content: center;
    padding: 10px 0;
  }
  .footer__copyright {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: normal;
  }
  .footer__sns-list {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */