/* ============ 반응형 ============ */
@media screen and (max-width: 1100px) {
  /* ========== header ========== */
  .gnb {
    &__main {

      &-link {
        font-size: 16px;
      }
    }

    &__sub {
      &-link {
        font-size: 15px;
      }
    }

    &__side-banner {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  /* ========== header ========== */
  .logo {
    &__link {
      background-image: url(../../media/logo_m.png);
      background-size: 100%;
      width: 71px;
      height: 17px;
    }
  }

  .select-box {
    display: none;
  }

  .btn-menu {
    position: relative;
    cursor: pointer;
    width: 22px;
    height: 15px;
    margin-left: auto;
    z-index: 1;

    &__line {
      background-color: $color-dark-gray;
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      transition: 0.3s;
      
      &:nth-of-type(1) {
        top: 0;
      }
      
      &:nth-of-type(2) {
        top: 49%;
      }
      
      &:nth-of-type(3) {
        top: 100%;
      }
    }

    &.on {
      .btn-menu__line {
        background-color: $color-white;

        &:nth-of-type(1) {
          top: 50%;
          transform: rotate(45deg);
        }

        &:nth-of-type(2) {
          opacity: 0;
        }

        &:nth-of-type(3) {
          top: 50%;
          transform: rotate(-45deg);
        }
      }
    }
  }

  // PC nav
  .gnb {
    &__bg {
      display: none;
    }

    &__inner {
      display: none;
    }
  }

  // mobile nav
  .gnb-mo {
    display: none;

    &__inner {
      background-color: #f2f2f2;
      border-bottom: 1px solid #f0f0f0;
    }
  
    &__content {
      background-color: $color-white;
      border-bottom: 2px solid #e3e3e3;
    }
  
    &__main {
      &-item {
        position: relative;

        &.on {
          .gnb-mo__main-link {
            color: $color-main-red;
          }
          
          .blind {
            &::after {
              transform: rotate(-180deg);
            }
          }
        }
      }

      &-link {
        display: block;
        width: 100%;
        height: 54px;
        padding: 0 30px;
        font-family: 'Binggrae';
        color: $color-black;
        font-size: 16px;
        line-height: 54px;
        border-bottom: 1px solid #e3e3e3;
      }

      .blind {
        &::after {
          content: "";
          background: url(../../media/header/gnb_1dep_off.png) no-repeat center / 100%;
          position: absolute;
          top: 24px;
          right: 25px;
          width: 11px;
          height: 6.5px;
          transition: 0.3s;
        }
      }
    }

    &__sub {
      display: none;

      &-link {
        display: block;
        height: 42px;
        padding-left: 50px;
        color: $color-gray;
        line-height: 42px;
        letter-spacing: -0.3px;
      }
    }

    &__util {
      background-color: $color-white;
      margin: 20px 0;
      border-bottom: 2px solid #e3e3e3;

      &-list {
        display: flex;
        flex-wrap: wrap;
        // height: 50px;
        line-height: 50px;
        border-top: 1px solid #e3e3e3;
      }
      
      &-item {
        width: 50%;
        border-right: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;

        &:last-child {
          width: 100%;
          text-align: center;

          .gnb-mo__util-link {
            padding: 0;
          }
        }
      }

      &-link {
        position: relative;
        display: block;
        padding-left: 38px;
        letter-spacing: -0.3px;

        &::before {
          content: "";
          background: url() no-repeat center / 100%;
          position: absolute;
          top: 50%;
          left: 17px;
          transform: translateY(-50%);
        }

        &.customer {
          &::before {
            background-image: url(../../media/header/ico_link_customer.png);
            width: 9px;
            height: 16px;
          }
        }

        &.road {
          &::before {
            background-image: url(../../media/header/ico_link_road.png);
            width: 12px;
            height: 16px;
          }
        }

        &.talent {
          &::before {
            background-image: url(../../media/header/ico_link_talent.png);
            width: 12px;
            height: 16px;
          }
        }

        &.shop {
          &::before {
            background-image: url(../../media/header/ico_link_buy.png);
            left: 15px;
            width: 16px;
            height: 14px;
          }
        }
      }
    }

    &__footer {
      background-color: $color-white;
      border-top: 1px solid #e3e3e3;

      &-menu {
        &-item {
          position: relative;
          border-bottom: 1px solid #e3e3e3;

          &.on {
            .gnb-mo__footer-menu-link {
              color: $color-main-red;
            }

            .blind {
              &::after {
                background-image: url(../../media/header/gnb_2dep_minus.png);
              }
            }
          }
        }

        &-link {
          display: block;
          height: 50px;
          padding-left: 21px;
          line-height: 50px;
          letter-spacing: -0.3px;

          .blind {
            &::after {
              content: "";
              background: url(../../media/header/gnb_2dep_plus.png) no-repeat center / 100%;
              position: absolute;
              top: 20px;
              right: 22px;
              width: 9px;
              height: 9px;
            }
          }
        }
      }

      &-sub {
        display: flex;
        flex-wrap: wrap;
        max-height: 0;
        overflow: hidden;
        transition: 0.4s ease-in-out;

        &.on {
          max-height: 150px;
        }

        &-item {
          width: 50%;
          height: 50px;
          border-top: 1px solid #e3e3e3;

          &:nth-of-type(odd) {
            border-right: 1px solid #e3e3e3;
          }
        }

        &-link {
          display: block;
          padding-left: 21px;
          color: $color-black;
          font-size: 13px;
          line-height: 50px;
          letter-spacing: -0.3px;
        }
      }
    }

    &__sns-list {
      background-color: #f2f2f2;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 66px;
      padding: 0 35px;
    }
  }

  .sns-list {
    &__link {
      width: 26px;
      height: 26px; 
    }
  }

  .header {
    &__inner {
      height: 44px;
      transition: 0.3s;

      &.on {
        background-color: $color-main-red;

        .logo__link {
          background-image: url(../../media/logo_m_w.png);
        }
      }
    }

    &__util {
      display: none;
    }

    &__logo {
      position: static;
      transform: none;
    }

    &__sns-list {
      display: none;
    }
  }

  /* ========== footer ========== */
  .footer {
    &__inner {
      position: relative;
      padding: 25px 10px 30px;
    }

    &__content {
      margin-top: 35px;
      padding: 13px 0 0;
      text-align: center;
      border: none;
      border-top: 1px solid #e3e3e3;
    }

    &__company-info {
      font-size: 13px;
    }

    &__text:not(:nth-of-type(1)) {
      margin: 5px;
    }

    &__logo {
      position: absolute;
      top: 16px;
      left: 20px;

      .logo__link {
        width: 101.5px;
        height: 26.5px;
      }
    }

    &__bottom {
      justify-content: center;
      padding: 10px 0;
    }

    &__copyright {
      font-size: 12px;
      font-weight: 300;
      letter-spacing: normal;
    }

    &__sns-list {
      display: none;
    }
  }
}